/*
CSS HEX 
--midnight-green: #073b3aff;
--dartmouth-green: #0b6e4fff;
--jade: #37ae69ff;
--celadon: #bbeeb6ff;
--tea-green: #d0f2c2ff;
*/


@font-face{
    font-family: "Playfair-Display";
    src: url("fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Black";
    src: url("fonts/Gotham-Font/Gotham-Black.otf");
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/Gotham-Font/GothamBook.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/Gotham-Font/Gotham-BookItalic.otf");
    font-style: italic;
}

*{
    font-family: 'Gotham', 'Playfair-Display', sans-serif;
    font-weight: 200;
    font-size: 20px;
    list-style: none;
    padding: 0;
}

body{
    display: block;
    margin-left: 2%;
    background-color: #d0f2c2ff;
    min-width: 320px;
}

h1{
    font-family: 'Gotham-Black';
    font-size: 1.5em;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.toptext{
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    padding-left: 5px;
    padding-bottom: 5px; 
    display: inline-block;
}

.upload{
    width: 15em;
    padding-top: 2px;
    margin-bottom: 8px;
    align-items: center;
    text-align: center;
}
.final {
    width: 15em;
    padding-top: 2px;
    margin-bottom: 8px;
    align-items: center;
    text-align: center;
}

.radio{ 
    align-items: left;
    padding-bottom: 50px;
    display: inline-block;
    line-height: 1.2em;
}

.yesno{
    display:inline-flex; 
    padding-bottom: 20px;
}

.nav{
    text-decoration:none;
    font-size:1.2em;
    padding-left: 5px;
}

input{
    border-radius: 2px;
    border: none;
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

::-webkit-file-upload-button  {
    border-radius: 2px;
    border-color: #ffffff99;
}