<!DOCTYPE html>
<html>
<link href="../static/style.css" rel="stylesheet">

<body>
    <div class="toptext">
        <h1>Upload items to your closet!</h1>
    </div>
    <div class = "container">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input class = "upload" id="file" type="file" id="photos" name="file" multiple><br>
        <input class = "upload" type="submit"> <br>
        <input class = "upload" type="submit" value="View Existing" name="existing">
    </form>
    </div>
</body>

</html>