<!DOCTYPE html>
<html>
<link href="../static/style.css" rel="stylesheet">

<body>
    <div class="navbar">
        <a class="nav" href="/closet">
            Back
        </a>
        <a class="nav" href="/matching">
            Next
        </a>
    </div>
    <div class="toptext">
        <h1>These are the items in your closet:</h1>
    </div>
        {% for img in photos %}

        <div class="gallery">
            <img src="static/{{img}}" alt="{{img}}" width="300" height="auto">
        </div>
        {% endfor %}
</body>

</html>